<ion-view title="Posts" hide-back-button="true" ng-cloak>

    <ion-nav-buttons side="right">
        <button ng-click="getMap()" class="button button-icon icon ion-ios7-location"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" has-tabs="true" padding="false" start-y="46">

        <ion-refresher on-refresh="doRefresh()" refreshing-icon="ion-looping">
        </ion-refresher>


        <div class="bar bar-header item-input-inset search-bar">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" autocorrect="off" ng-model="searchQuery" placeholder="search">
                <i class="placeholder-icon clear-search icon ion-ios7-close" ng-if="searchQuery"
                   ng-click="clearFilter()"></i>
            </label>

            <button class="button button-clear" ng-click="switch('grid')">
                <i class="icon ion-image"></i>
            </button>
        </div>

        <div class="wrap">
            <div class="box" ng-repeat="post in posts">
                <div class="boxInner" >
                    <a href="#/tab/post/{{post.id}}"><img class="full-image" src="{{post.image}}"></a>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>