<ion-view title="Posts" hide-back-button="true" ng-cloak>


    <ion-nav-buttons side="right">
        <button ng-click="search()" class="button button-icon icon ion-search"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="switch('thumbs')" class="button button-icon icon ion-grid"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" has-tabs="true" padding="false">

        <ion-refresher on-refresh="doRefresh()" refreshing-icon="ion-looping">
        </ion-refresher>


        <ion-list>

            <ion-item ng-repeat="post in posts" type="item-complex" class="item-complex posts">

                <div class="list card post">

                    <div class="item item-avatar">
                        <img src="{{post.grumpy.avatar}}"/>

                        <div class="info">
                            <p>{{post.grumpy.nickname}}</p>

                            <p class="location" ng-show="post.location.name"><i class="fa fa-map-marker"></i>&nbsp;<a
                                    href="#/tab/map/{{post.id}}">{{post.location.name}}</a></p>
                        </div>
                        <div class="time">
                            <p><i class="fa fa-clock-o"></i>&nbsp;{{post.timestamp | timeAgo}}</p>
                        </div>
                    </div>

                    <div class="item item-body text-center">
                        <a href="#/tab/post/{{post.id}}">
                            <img class="full-image" src="{{post.image}}">
                        </a>
                        <p>{{post.counter}} X | {{post.counter}} Y</p>
                    </div>

                    <div class="item tabs-secondary tabs-icon-right post-bottom">
                        <div class="row no-padding post-buttons">
                            <div class="col">
                                <a class="tab-item" href="#">
                                    <i class="ion-speakerphone"></i>
                                </a>
                            </div>
                            <div class="col">
                                <a class="tab-item" href="#">
                                     <i class="ion-chatboxes"></i>
                                </a>
                            </div>
                            <div class="col">
                                <a class="tab-item" href="#">
                                    <i class="ion-share"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>