<ion-view title="Post" hide-back-button="false">

    <ion-nav-buttons side="left" ng-controller="WoSTabsCtrl">
        <ion-nav-button class="button button-icon icon ion-chevron-left"
                        ng-click="goBack()">
        </ion-nav-button>
    </ion-nav-buttons>

    <ion-content has-header="true">

        <div class="list card post">

            <div class="item item-avatar">
                <img src="{{post.grumpy.avatar}}"/>

                <div class="info">
                    <p>{{post.grumpy.nickname}}</p>

                    <p <p class="location" ng-show="post.location.name"><i class="fa fa-map-marker"></i>&nbsp;<a ui-sref="tab.map({{post.id}})">{{post.location.name}}</a></p>
                </div>
                <div class="time">
                    <p><i class="fa fa-clock-o"></i>&nbsp;{{post.timestamp | timeAgo}}</p>
                </div>
            </div>

            <div class="item item-body">
                <img class="full-image" src="{{post.image}}">

                <p>
                    {{post.description}}
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-right">
                <a class="tab-item wos-note" href="#">
                    {{post.counter}} <img src="img/btn_active_{{post.idisliked}}.png"/>
                </a>
                <a class="tab-item" href="#">
                    {{post.counter}} <i class="ion-chatboxes"></i>
                </a>
            </div>
        </div>


    </ion-content>
</ion-view>
