<ion-view title="Posts" hide-back-button="true" ng-cloak>

    <ion-nav-buttons side="right">
        <button ng-click="getMap()" class="button button-icon icon ion-ios7-location"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" has-tabs="true" padding="false" start-y="46">

        <ion-refresher on-refresh="doRefresh()" refreshing-icon="ion-looping">
        </ion-refresher>


        <div class="bar bar-header item-input-inset search-bar">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" autocorrect="off" ng-model="searchQuery" placeholder="search">
                <i class="placeholder-icon clear-search icon ion-ios7-close" ng-if="searchQuery" ng-click="clearFilter()"></i>
            </label>

            <button class="button button-clear" ng-click="switch('thumbs')">
                <i class="icon ion-grid"></i>
            </button>
        </div>

        <ion-list>

            <ion-item ng-repeat="post in posts" type="item-complex" class="item-complex">

                <div class="list card post">

                    <div class="item item-avatar">
                        <img src="{{post.grumpy.avatar}}"/>

                        <div class="info">
                            <p>{{post.grumpy.nickname}}</p>

                            <p class="location" ng-show="post.location.name"><i class="fa fa-map-marker"></i>&nbsp;<a href="#/tab/map/{{post.id}}">{{post.location.name}}</a></p>
                        </div>
                        <div class="time">
                            <p><i class="fa fa-clock-o"></i>&nbsp;{{post.timestamp | timeAgo}}</p>
                        </div>
                    </div>

                    <div class="item item-body" >
                        <a href="#/tab/post/{{post.id}}"><img class="full-image" src="{{post.image}}"></a>
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-right">
                        <a class="tab-item wos-note" href="#">
                            {{post.counter}} <img src="img/btn_active_{{post.idisliked}}.png"/>
                        </a>
                        <a class="tab-item" href="#">
                            {{post.counter}} <i class="ion-chatboxes"></i>
                        </a>
                    </div>
                </div>

            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>