<ion-view title="Detail" hide-back-button="false">

    <ion-nav-buttons side="left" ng-controller="WoSTabsCtrl">
        <ion-nav-button class="button button-icon icon ion-chevron-left"
                             ng-click="goBack()">
        </ion-nav-button>
    </ion-nav-buttons>

<ion-content has-header="true" padding="true">
    <!-- make this as directive : BEGIN -->
    <div class="wos-item-content">
        <div class="row wos-grumpy-info">
            <div class="col col-15 wos-avatar"><img src="{{post.grumpy.avatar}}"/></div>
            <div class="col col-70 wos-info">
                <div class="col col-top wos-name">{{post.grumpy.nickname}}</div>
                <div class="col col-bottom wos-location"><i class="fa fa-map-marker"></i>&nbsp;{{post.location}}
                </div>
            </div>
            <div class="col col-15 wos-time"><i class="fa fa-clock-o"></i>&nbsp;{{post.timestamp}}</div>

        </div>
        <div class="wos-media">
            <img src="{{post.image}}"/>
            <!--
            <figure class="cap-bot">

            <figcaption>
                        yay!!!
                        {{grumpy.description}}
                </figcaption>
            </figure>-->
        </div>
        <div class="wos-social">
            <div class="col col-20 wos-note"><img src="img/btn_active_{{post.idisliked}}.png"/>&nbsp;{{post.counter}}
            </div>
        </div>
    </div>
    <!-- make this as directive : END-->
</ion-content>
</ion-view>
