<ion-tabs class="tabs-positive tabs-icon-only" ng-controller="WoSTabsCtrl">

    <!-- Posts Tab -->
    <ion-tab title="Posts" icon="icon ion-chatbubble-working" href="#/tab/posts" ng-click="goPosts()" >
        <ion-nav-view name="posts-tab"></ion-nav-view>
    </ion-tab>


    <!-- Camera Tab -->
    <ion-tab title="Camera" icon="icon ion-camera" href="#/tab/camera">
        <ion-nav-view name="camera-tab"></ion-nav-view>
    </ion-tab>


    <!-- About Tab -->
    <ion-tab title="About" icon="icon ion-person" href="#/tab/profile">
        <ion-nav-view name="profile-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>
