<ion-view title="Share" hide-back-button="false">

    <ion-content has-header="true" has-tabs="false" class="no-tabs">
        <div class="list">
            <label class="item item-input">
                <img class="caption" src="img/cookie.jpg"/>
                <input type="text" placeholder="caption" class="caption">
            </label>
            <label class="item item-input">
                <i class="icon ion-pricetags placeholder-icon"></i>
                <input type="text" placeholder="Select Tags">
            </label>
            <label class="item item-input">
                <i class="icon ion-location placeholder-icon"></i>
                <input type="text" placeholder="Select Place">
            </label>
            <label class="item item-input comment">
                <textarea placeholder="Comments" style="height : 400px"></textarea>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark no-tabs camera-footer">
        <div class="row no-padding">
            <div class="col col-center text-center">
                <a ng-click="" class="icon ion-close-round">
                </a>
            </div>
            <div class="col col-center text-center">
                <a ng-click="shoot()" class="">
                    <img src="img/upload-icon.png">
                </a>
            </div>
            <div class="col col-center text-center">
                <a ng-click="" class="icon ion-share">
                </a>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
