@import url('../lib/fontawesome/css/font-awesome.css');

/*body {
    cursor: url('../img/finger.png'), auto;
}*/

html {
    min-height: 100%; /* make sure it is at least as tall as the viewport */
    position: relative;
}

body {
    height: 100% /* force the BODY element to match the height of the HTML element */
}

#landing {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
    display: table-cell;
    vertical-align: middle;
    background-color: #4A87EE;
}

#landing div.nag {
    width: 300px;
    height: 200px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

#landing div.nag img {
    display: block;
    margin: auto;
    padding-top: 20px;
}

#appname {
    color: #FFF;
    font-size: 50px;

}


.ionic-logo {
    display: block;
    margin: 15px auto;
    width: 96px;
    height: 96px;
}

.item-body > p {
    margin-top: 0;
    margin-bottom: 4px;
}

.col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.col-70 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}

/*.wos-grumpy-info {
    font-size: 13px;
}

.wos-info > div {
    padding: 0 5px !important;
}

.wos-grumpy-info .wos-avatar img {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 11px;
    float: left
}

.wos-item-content .wos-media {
    clear: both;
}
*/

.wos-note {
    margin-left: 10px;
    font-size: 13px;
}

.wos-note img {
    vertical-align: middle;
}

#map {
    width: 100%;
    height: 100%;
}

.scroll {
    height: 100%;
}

/* hide extra space in pull to refresh */
.text-refreshing, .text-pulling {
    display: none !important;
}

.clear-search {
    font-size: 25px;
}

.post.card {
    margin: 0px !important;
    padding: 0 !important;
}

.post.card .item-body {
    padding: 0px !important;
    border: 0 !important;
}

.post.card .item-avatar {
    padding-left: 62px;
}

.post.card .item-avatar p {
    margin: 0px !important;
    font-size: 13px !important;
}

.post.card .info {
    float: left;
}

.post.card p.location, .post.card p.location a {
    color: #006699;
}

.post.card .info p.location a {
    text-decoration: none;
    font-weight: bold;
}

.post.card .time {
    float: right;
}

/* http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/ */
.wrap {
    overflow: hidden;
    margin: 1px;
}

.box {
    float: left;
    position: relative;
    width: 25%;
    padding-bottom: 25%;
}

.boxInner {
    position: absolute;
    /*    left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;*/
    overflow: hidden;
}

.boxInner img {
    width: 100%;
}

.profile.card {
    margin: 5px 0 10px 0 !important;
}

.profile.card .item-avatar {
    padding: 0 0 0 10px;
}

.profile.card .item-avatar p {
    font-size: 13px !important;
}

.profile.card .item-avatar img {
    max-width: 70px !important;
    max-height: 70px !important;
    border-radius: 4px;
}

.profile.card div.col {
    text-align: center;
}

.profile.card div.col i {
    font-size: 30px !important;
}

.profile.card div.col p {
    font-size: 15px !important;
}

.profile.card .row.bottom p {
    padding-left: 5px;
}